.navbar{
  min-height: 70px;
  background-color: #ffffff;
}
.navbar-nav{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: orange;
}

.logo-div{
  margin-left: 5%;
}
 #active-nav{
  color: orange;
} 


.about{
  height: 250px;
}
.container-fluid{
  padding: 0;
}
.header-text{
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  color: grey;
  /*text-align: center;*/
  margin-left: 15%;
  top: 100px;
  position: relative;
  border-left: 2px solid grey;
  padding-left: 20px;
}


.cont-first{
  /*background: yellow;*/
  background: #c3e4e1;
  /*height: 400px;*/
  /*text-align: center;*/
}

.first-row{
  justify-content: center;
  width: 100%;
  margin: 0;
}

.first-row-text{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.first{
  /*margin-left: 45%;*/
  /*margin-right: 45%;*/
  /*text-align: center;*/
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Delius', cursive;
}
.first-text{
  font-size: 23px;
  /*margin-left: 20%;*/
  /*margin-right: 20%;*/
  margin-bottom: 70px;
  /*font-family: 'Patrick Hand', cursive;*/
  /*font-family: 'Bad Script', cursive;
  font-weight: 600;*/
  font-family: 'Merienda', cursive;
}
.cont-second{
  /*background: yellow;*/
  background: #fcc2bf;
  /*height: 400px;*/
}

.lower-footer{
  background: #020304;
  color: white;
  font-size: 25px;
  width: 100%;
  margin: 0;
  /* height: 50px; */
}

.lower-footer-text{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-img{
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fa-registered{
  color: white;
  font-size: 11px;
  margin-top: 5px;
}

@media (min-width: 992px){
  .navbar-nav{
    margin-left: 60%;
    margin-right: 10%;
    min-width: 500px;
  }
}
@media (max-width: 991px){
  .navbar-nav{
    margin-left: 5%;
  }
}

@media (max-width: 1650px) and (min-width: 1200px){
  .navbar-nav{
    margin-left: 52%;
    min-width: 500px;
  }
}

@media (max-width: 550px) {

  .lower-footer-text{
    margin-left: 10px;
  }
  .lower-footer{
    font-size: 20px;
  }
  .footer-img{
    height: 40px;
    width: 40px;
  }


  .first-row-text{
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 90%;
  text-align: initial;
  }

  .first-text{
  font-size: 21px;
  /*margin-left: 20%;*/
  /*margin-right: 20%;*/
  margin-bottom: 70px;
  }

}

