.navbar{
  min-height: 70px;
  background-color: #ffffff;
}
.navbar-nav{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: orange;
}

.logo-div{
  margin-left: 5%;
}
 #active-nav{
  color: orange;
}
.empty-div{
  margin-top: 200px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}
.checkout-form{
	margin-top: 100px;
	width : 50%;
	margin-left: auto;
	margin-right: auto;
}
.pay{
	border : 1px solid #ced4da;
	border-radius: .25rem;
	padding: .375rem .75rem;
	background: #e9ecef;
}
/*.form-row{
	width: 800px;
}*/
@media (min-width: 992px){
  .navbar-nav{
    margin-left: 60%;
    margin-right: 10%;
    min-width: 500px;
    /*max-width: 100%;*/
  }

}
@media (max-width: 991px){
  .navbar-nav{
    margin-left: 5%;
  }
}
@media (max-width: 1650px) and (min-width: 1200px){
	.navbar-nav{
		margin-left: 52%;
		min-width: 500px;
	}
}

@media (max-width: 550px){
	.checkout-form{
		margin-top: 60px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}	
	.empty-div{
    	margin-top: 80px;
  	}
  	.empty-cart{
    	font-size: 30px;
  	}
}