html body{
  /*background: linear-gradient(#09203f 0%, #537895 100%);*/
  /*background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);*/
  /*background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(246,98,128,1) 0%, rgba(248,129,135,1) 98.3% );
  /*background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(246,98,128,1) 0%, rgba(248,129,135,1) 98.3% );*/
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  /*background-size: 100%;*/
  /*height: 100%;*/

}
.navbar{
  min-height: 70px;
  background-color: #ffffff;
}
.navbar-nav{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: orange;
}

.logo-div{
  margin-left: 5%;
}
 #active-nav{
  color: orange;
} 

.contact-head{
  font-size: 40px;
  margin-top: 50px;
  font-weight: 400;
  /*color: #fbfafa;*/
}

.header{
  margin-top: 70px;
  /*color: #fbfafa;*/
}

.contact{
  font-size: 60px;
  margin-top: 60px;
  /*color: #fbfafa;*/
}
.contact-wind{
  margin-top: 50px;
  font-size: 35px;
  /*color: #fbfafa;*/
}

.loc-icon{
  float: left;
  font-size: 30px;
  color: black;
}
.add{
  font-size: 20px;
  margin-top: 30px;
}
.add-type{
  font-weight: 700;
}
.add-work{
  width: 400px;
  margin-left: 35px;
}

.add-div{
  margin-top: 20px;
}

.social{
  margin-top: 50px;
  margin-bottom: 40px;
}
.social-text{
  font-size: 30px;
  margin-bottom: 30px;
}
.contact-dist{
  margin-top: 40px;
  font-size: 40px;
}
.contact-dist-form{
  margin-top: 20px;
  margin-bottom: 30px;
}

.lower-footer{
  background: #020304;
  color: white;
  font-size: 25px;
  /* height: 50px; */
}
.lower-footer-text{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-img{
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fa-registered{
  color: white;
  font-size: 11px;
  margin-top: 5px;
}


.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

@media (min-width: 992px){
  .navbar-nav{
    margin-left: 60%;
    margin-right: 10%;
    min-width: 500px;
    /*max-width: 100%;*/
  }

}
@media (max-width: 991px){
  .navbar-nav{
    margin-left: 5%;
  }
}
@media (max-width: 1650px) and (min-width: 1200px){
  .navbar-nav{
    margin-left: 52%;
    min-width: 500px;
  }
}

@media (max-width: 550px) {
  .contact-head{
    font-size: 35px;
  }

  .contact{
    font-size: 50px;
  }
  .contact-wind{
    font-size: 30px;
  }
  .lower-footer-text{
    margin-left: 10px;
  }
  .lower-footer{
    font-size: 20px;
  }
  .footer-img{
    height: 40px;
    width: 40px;
  }
  .add-work{
    width: 80%;
  }
}
